    .red-box {
      background-color: #CE1126;
      width: 900px;
      height: 600px;
      position: relative;
      top : -5px;  
      left: 50px;
    }
    .blue-box {
      background-color: #002868;
      width: 900px;
      height: 300px;
      position: absolute;
      top: 160px;
      left: 00px;
    }
    .circle {
      width: 225px;
      height: 225px;
      background-color: white;
      border-radius: 50%;
      position: absolute;
      top: 200px;
      left: 330px;
    }
p{
  color: white;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
}

#circle-text{
  font-size: 80px;
  color: black;
  margin-top: 1px;
}
